  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

  }

  .container{
      height: 90vh;
      background: linear-gradient(120deg, #04666e, #204e1b);
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .titulo{
        text-align: center;
        background-color: #000000;
        color: #fff;
    }

    .titulo h1{
        font-family: monospace;
        font-size: 2rem;
        padding: 30px;
    }

 
    .relogio{
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        height: 200px ;
        width: 550px;
        background: transparent;
        border-radius: 5px;
        box-shadow: 0px 8px 10px rgba(0,0,0,0.5);

    }

    .relogio div{
        margin: 10px;
        height: 170px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
        border-radius: 3px;
        letter-spacing: 5px;

    }

    .relogio span{
        font-weight: bold;
        font-size: 60px;
    }

    .relogio span.tempo{
       font-size: 12px;
    }
    

    @media screen and (max-width: 500px) {

     

        .relogio{
            
            height: 150px ;
            width: 315px;
           
    
        }
    
        .relogio div{
            height: 100px;
            width: 80px;
           
    
        }
    
        .relogio span{
            font-weight: bold;
            font-size: 12px;
        }
    
        .relogio span.tempo{
           font-size: 8px;
        }
        
    }